{
  "openapi": "3.0.1",
  "info": {
    "title": "UK Parliament OData API Service",
    "description": "Implementation of OData protocol based on [UK Parliament's ontology](https://github.com/ukparliament/Ontology). Throttled at 100 requests per second per IP address.",
    "contact": {
      "name": "Data & Search team at UK Parliament",
      "email": "data@parliament.uk",
      "url": "https://twitter.com/UKParliData"
    },
    "license": {
      "name": "Open Parliament Licence",
      "url": "https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence"
    },
    "version": "Live",
    "x-TODO-termsOfService": null
  },
  "servers": [
    {
      "url": "https://api.parliament.uk/odata"
    }
  ],
  "externalDocs": {
    "description": "OData documentation",
    "url": "http://www.odata.org/documentation/"
  },
  "paths": {
    "/$metadata": {
      "get": {
        "summary": "Metadata",
        "externalDocs": {
          "description": "OData documentation",
          "url": "http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#sec_MetadataDocumentRequest"
        },
        "responses": {
          "200": {
            "description": "OData metadata document",
            "content": {
              "application/xml": {

              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Service document",
        "externalDocs": {
          "description": "OData documentation",
          "url": "http://docs.oasis-open.org/odata/odata/v4.01/cs01/part1-protocol/odata-v4.01-cs01-part1-protocol.html#sec_ServiceDocumentRequest"
        },
        "responses": {
          "200": {
            "description": "OData service document",
            "content": {
              "application/json": {

              }
            }
          }
        }
      }
    }
  }
}